<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>libopencv_calib3d.2.4.10.dylib</string>
		<string>libopencv_contrib.2.4.10.dylib</string>
		<string>libopencv_core.2.4.10.dylib</string>
		<string>libopencv_features2d.2.4.10.dylib</string>
		<string>libopencv_flann.2.4.10.dylib</string>
		<string>libopencv_gpu.2.4.10.dylib</string>
		<string>libopencv_highgui.2.4.10.dylib</string>
		<string>libopencv_imgproc.2.4.10.dylib</string>
		<string>libopencv_legacy.2.4.10.dylib</string>
		<string>libopencv_ml.2.4.10.dylib</string>
		<string>libopencv_nonfree.2.4.10.dylib</string>
		<string>libopencv_objdetect.2.4.10.dylib</string>
		<string>libopencv_photo.2.4.10.dylib</string>
		<string>libopencv_stitching.2.4.10.dylib</string>
		<string>libopencv_superres.2.4.10.dylib</string>
		<string>libopencv_video.2.4.10.dylib</string>
		<string>libopencv_videostab.2.4.10.dylib</string>
		<string>libopenjpeg.1.dylib</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.jain.arpit</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Template for configuring Xcode to run Opencv programs</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.macBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.tool</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>HEADER_SEARCH_PATHS</key>
					<string>$(inherited) /opt/local/include</string>
					<key>LIBRARY_SEARCH_PATHS</key>
					<string>/opt/local/lib</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>HEADER_SEARCH_PATHS</key>
					<string>$(inherited) /opt/local/include</string>
					<key>LIBRARY_SEARCH_PATHS</key>
					<string>/opt/local/lib</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>commandLineType</string>
			<key>Name</key>
			<string>Type</string>
			<key>Description</key>
			<string>The type of command-line tool to create</string>
			<key>Default</key>
			<string>C++</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>C++</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>main.cpp:comments</string>
						<string>main.cpp:include</string>
						<string>main.cpp:main:content</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>main.cpp:include</key>
						<string>#include &lt;opencv2/core/core.hpp&gt;
#include &lt;opencv2/highgui/highgui.hpp&gt;
#include &lt;opencv2/imgproc/imgproc.hpp&gt;
</string>
						<key>main.cpp:main:content</key>
						<string>// insert code here...
</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>libopencv_calib3d.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_calib3d.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_contrib.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_contrib.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_core.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_core.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_features2d.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_features2d.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_flann.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_flann.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_gpu.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_gpu.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_highgui.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_highgui.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_imgproc.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_imgproc.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_legacy.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_legacy.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_ml.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_ml.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_nonfree.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_nonfree.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_objdetect.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_objdetect.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_photo.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_photo.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_stitching.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_stitching.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_superres.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_superres.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_video.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_video.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopencv_videostab.2.4.10.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopencv_videostab.2.4.10.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>libopenjpeg.1.dylib</key>
		<dict>
			<key>Path</key>
			<string>/opt/local/lib/libopenjpeg.1.dylib</string>
			<key>Group</key>
			<string>OpenCV_Framework</string>
		</dict>
		<key>*:main</key>
		<dict>
			<key>Beginning</key>
			<string>int main(int argc, const char * argv[])
{
</string>
			<key>End</key>
			<string>    return 0;
}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
